.nav {
  width: inherit;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media(min-width: 640px) {
    padding-top: 48px;
  }
 
  &__logo-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }

  &__logo {
    display: flex;
    color: #fff;
    text-decoration: none;
  }

  &__logo-img {
    width: 45px;
    height: 25px;
  }

  &__list {
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 48px;
  }

  &__item {
    display: none;

    position: relative;
    text-transform: uppercase;
    text-align: center;

    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;

    @media(min-width: 640px) {
      display: block;
    }
  }

  &__item-menu {
    @media(min-width: 640px) {
      display: none;
    }
  }

  &__item-last {
    position: relative;
    text-transform: uppercase;
    text-align: center;

    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
  }

  &__link {
    display: none;

    text-decoration: none;
    color: #fff;

    @media(min-width: 640px) {
      display: block;
    }
  }

  &__link-last {
    text-decoration: none;
    color: #fff;
  }

  &__link-menu {
    width: 24px;
    height: 24px;
  }
}

.active::after {
  position: absolute;

  content: "";
  left: 0;
  bottom: -55%;

  width: 67px;
  height: 2px;
  background-color: #2060F6;
  border-radius: 4px;
}
